<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item2</key>
	<dict>
		<key>Origen</key>
		<string></string>
		<key>Destino</key>
		<string></string>
		<key>Ruta</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>item3</key>
	<dict/>
</dict>
</plist>
