<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Aulas 1</key>
	<dict>
		<key>Aulas 2</key>
		<dict>
			<key>Ruta</key>
			<array>
				<string>Camina en linea recta 100 metros, vas a pasar enfrente de rectoria y carreta sigue asi :)</string>
			</array>
		</dict>
		<key>Aulas 3</key>
		<dict>
			<key>Ruta</key>
			<array/>
		</dict>
		<key>Aulas 4</key>
		<dict>
			<key>Ruta</key>
			<array/>
		</dict>
		<key>Biotecnologia</key>
		<dict>
			<key>Ruta</key>
			<array/>
		</dict>
		<key>Aulas 6</key>
		<dict>
			<key>Ruta</key>
			<array/>
		</dict>
		<key>Aulas 7</key>
		<dict>
			<key>Ruta</key>
			<array/>
		</dict>
		<key>Centro Estudiantil</key>
		<dict>
			<key>Ruta</key>
			<array/>
		</dict>
		<key>Borrego</key>
		<dict>
			<key>Ruta</key>
			<array/>
		</dict>
		<key>Centrales</key>
		<dict>
			<key>Ruta</key>
			<array/>
		</dict>
		<key>learning commons</key>
		<dict>
			<key>Ruta</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
